<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thzj.webcrawler.dao.TInvestorMapper">
  <resultMap id="BaseResultMap" type="com.thzj.webcrawler.entity.TInvestor">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="investor_form" jdbcType="VARCHAR" property="investorForm" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="investor_company" jdbcType="VARCHAR" property="investorCompany" />
    <result column="investor_position" jdbcType="VARCHAR" property="investorPosition" />
    <result column="investor_card" jdbcType="VARCHAR" property="investorCard" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="weixin" jdbcType="VARCHAR" property="weixin" />
    <result column="visit_img" jdbcType="VARCHAR" property="visitImg" />
    <result column="investor_asset" jdbcType="VARCHAR" property="investorAsset" />
    <result column="org_logo_img" jdbcType="VARCHAR" property="orgLogoImg" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
    <result column="org_license" jdbcType="VARCHAR" property="orgLicense" />
    <result column="org_website" jdbcType="VARCHAR" property="orgWebsite" />
    <result column="org_members" jdbcType="INTEGER" property="orgMembers" />
    <result column="invested_count" jdbcType="INTEGER" property="investedCount" />
    <result column="collect_number" jdbcType="INTEGER" property="collectNumber" />
    <result column="auditor" jdbcType="VARCHAR" property="auditor" />
    <result column="auditor_state" jdbcType="VARCHAR" property="auditorState" />
    <result column="auditor_time" jdbcType="TIMESTAMP" property="auditorTime" />
    <result column="auditor_comment" jdbcType="VARCHAR" property="auditorComment" />
    <result column="reqauth_time" jdbcType="TIMESTAMP" property="reqauthTime" />
    <result column="mail_box" jdbcType="VARCHAR" property="mailBox" />
    <result column="investors_profile" jdbcType="VARCHAR" property="investorsProfile" />
    <result column="investors_company_name" jdbcType="VARCHAR" property="investorsCompanyName" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.thzj.webcrawler.entity.TInvestor">
    <result column="org_introduce" jdbcType="LONGVARCHAR" property="orgIntroduce" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, investor_form, province, city, area, real_name, investor_company, investor_position, 
    investor_card, phone, weixin, visit_img, investor_asset, org_logo_img, org_name, 
    org_license, org_website, org_members, invested_count, collect_number, auditor, auditor_state, 
    auditor_time, auditor_comment, reqauth_time, mail_box, investors_profile, investors_company_name
  </sql>
  <sql id="Blob_Column_List">
    org_introduce
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.thzj.webcrawler.entity.TInvestorExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_investor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.thzj.webcrawler.entity.TInvestorExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_investor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_investor
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_investor
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.thzj.webcrawler.entity.TInvestorExample">
    delete from t_investor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.thzj.webcrawler.entity.TInvestor">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_investor (user_id, investor_form, province, 
      city, area, real_name, 
      investor_company, investor_position, investor_card, 
      phone, weixin, visit_img, 
      investor_asset, org_logo_img, org_name, 
      org_license, org_website, org_members, 
      invested_count, collect_number, auditor, 
      auditor_state, auditor_time, auditor_comment, 
      reqauth_time, mail_box, investors_profile, 
      investors_company_name, org_introduce)
    values (#{userId,jdbcType=INTEGER}, #{investorForm,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, 
      #{investorCompany,jdbcType=VARCHAR}, #{investorPosition,jdbcType=VARCHAR}, #{investorCard,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{weixin,jdbcType=VARCHAR}, #{visitImg,jdbcType=VARCHAR}, 
      #{investorAsset,jdbcType=VARCHAR}, #{orgLogoImg,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, 
      #{orgLicense,jdbcType=VARCHAR}, #{orgWebsite,jdbcType=VARCHAR}, #{orgMembers,jdbcType=INTEGER}, 
      #{investedCount,jdbcType=INTEGER}, #{collectNumber,jdbcType=INTEGER}, #{auditor,jdbcType=VARCHAR}, 
      #{auditorState,jdbcType=VARCHAR}, #{auditorTime,jdbcType=TIMESTAMP}, #{auditorComment,jdbcType=VARCHAR}, 
      #{reqauthTime,jdbcType=TIMESTAMP}, #{mailBox,jdbcType=VARCHAR}, #{investorsProfile,jdbcType=VARCHAR}, 
      #{investorsCompanyName,jdbcType=VARCHAR}, #{orgIntroduce,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.thzj.webcrawler.entity.TInvestor">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_investor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="investorForm != null">
        investor_form,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="realName != null">
        real_name,
      </if>
      <if test="investorCompany != null">
        investor_company,
      </if>
      <if test="investorPosition != null">
        investor_position,
      </if>
      <if test="investorCard != null">
        investor_card,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="weixin != null">
        weixin,
      </if>
      <if test="visitImg != null">
        visit_img,
      </if>
      <if test="investorAsset != null">
        investor_asset,
      </if>
      <if test="orgLogoImg != null">
        org_logo_img,
      </if>
      <if test="orgName != null">
        org_name,
      </if>
      <if test="orgLicense != null">
        org_license,
      </if>
      <if test="orgWebsite != null">
        org_website,
      </if>
      <if test="orgMembers != null">
        org_members,
      </if>
      <if test="investedCount != null">
        invested_count,
      </if>
      <if test="collectNumber != null">
        collect_number,
      </if>
      <if test="auditor != null">
        auditor,
      </if>
      <if test="auditorState != null">
        auditor_state,
      </if>
      <if test="auditorTime != null">
        auditor_time,
      </if>
      <if test="auditorComment != null">
        auditor_comment,
      </if>
      <if test="reqauthTime != null">
        reqauth_time,
      </if>
      <if test="mailBox != null">
        mail_box,
      </if>
      <if test="investorsProfile != null">
        investors_profile,
      </if>
      <if test="investorsCompanyName != null">
        investors_company_name,
      </if>
      <if test="orgIntroduce != null">
        org_introduce,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="investorForm != null">
        #{investorForm,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="investorCompany != null">
        #{investorCompany,jdbcType=VARCHAR},
      </if>
      <if test="investorPosition != null">
        #{investorPosition,jdbcType=VARCHAR},
      </if>
      <if test="investorCard != null">
        #{investorCard,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null">
        #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="visitImg != null">
        #{visitImg,jdbcType=VARCHAR},
      </if>
      <if test="investorAsset != null">
        #{investorAsset,jdbcType=VARCHAR},
      </if>
      <if test="orgLogoImg != null">
        #{orgLogoImg,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgLicense != null">
        #{orgLicense,jdbcType=VARCHAR},
      </if>
      <if test="orgWebsite != null">
        #{orgWebsite,jdbcType=VARCHAR},
      </if>
      <if test="orgMembers != null">
        #{orgMembers,jdbcType=INTEGER},
      </if>
      <if test="investedCount != null">
        #{investedCount,jdbcType=INTEGER},
      </if>
      <if test="collectNumber != null">
        #{collectNumber,jdbcType=INTEGER},
      </if>
      <if test="auditor != null">
        #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="auditorState != null">
        #{auditorState,jdbcType=VARCHAR},
      </if>
      <if test="auditorTime != null">
        #{auditorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditorComment != null">
        #{auditorComment,jdbcType=VARCHAR},
      </if>
      <if test="reqauthTime != null">
        #{reqauthTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mailBox != null">
        #{mailBox,jdbcType=VARCHAR},
      </if>
      <if test="investorsProfile != null">
        #{investorsProfile,jdbcType=VARCHAR},
      </if>
      <if test="investorsCompanyName != null">
        #{investorsCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="orgIntroduce != null">
        #{orgIntroduce,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.thzj.webcrawler.entity.TInvestorExample" resultType="java.lang.Long">
    select count(*) from t_investor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_investor
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.investorForm != null">
        investor_form = #{record.investorForm,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null">
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null">
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.area != null">
        area = #{record.area,jdbcType=VARCHAR},
      </if>
      <if test="record.realName != null">
        real_name = #{record.realName,jdbcType=VARCHAR},
      </if>
      <if test="record.investorCompany != null">
        investor_company = #{record.investorCompany,jdbcType=VARCHAR},
      </if>
      <if test="record.investorPosition != null">
        investor_position = #{record.investorPosition,jdbcType=VARCHAR},
      </if>
      <if test="record.investorCard != null">
        investor_card = #{record.investorCard,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.weixin != null">
        weixin = #{record.weixin,jdbcType=VARCHAR},
      </if>
      <if test="record.visitImg != null">
        visit_img = #{record.visitImg,jdbcType=VARCHAR},
      </if>
      <if test="record.investorAsset != null">
        investor_asset = #{record.investorAsset,jdbcType=VARCHAR},
      </if>
      <if test="record.orgLogoImg != null">
        org_logo_img = #{record.orgLogoImg,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null">
        org_name = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.orgLicense != null">
        org_license = #{record.orgLicense,jdbcType=VARCHAR},
      </if>
      <if test="record.orgWebsite != null">
        org_website = #{record.orgWebsite,jdbcType=VARCHAR},
      </if>
      <if test="record.orgMembers != null">
        org_members = #{record.orgMembers,jdbcType=INTEGER},
      </if>
      <if test="record.investedCount != null">
        invested_count = #{record.investedCount,jdbcType=INTEGER},
      </if>
      <if test="record.collectNumber != null">
        collect_number = #{record.collectNumber,jdbcType=INTEGER},
      </if>
      <if test="record.auditor != null">
        auditor = #{record.auditor,jdbcType=VARCHAR},
      </if>
      <if test="record.auditorState != null">
        auditor_state = #{record.auditorState,jdbcType=VARCHAR},
      </if>
      <if test="record.auditorTime != null">
        auditor_time = #{record.auditorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.auditorComment != null">
        auditor_comment = #{record.auditorComment,jdbcType=VARCHAR},
      </if>
      <if test="record.reqauthTime != null">
        reqauth_time = #{record.reqauthTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mailBox != null">
        mail_box = #{record.mailBox,jdbcType=VARCHAR},
      </if>
      <if test="record.investorsProfile != null">
        investors_profile = #{record.investorsProfile,jdbcType=VARCHAR},
      </if>
      <if test="record.investorsCompanyName != null">
        investors_company_name = #{record.investorsCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="record.orgIntroduce != null">
        org_introduce = #{record.orgIntroduce,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update t_investor
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      investor_form = #{record.investorForm,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      area = #{record.area,jdbcType=VARCHAR},
      real_name = #{record.realName,jdbcType=VARCHAR},
      investor_company = #{record.investorCompany,jdbcType=VARCHAR},
      investor_position = #{record.investorPosition,jdbcType=VARCHAR},
      investor_card = #{record.investorCard,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      weixin = #{record.weixin,jdbcType=VARCHAR},
      visit_img = #{record.visitImg,jdbcType=VARCHAR},
      investor_asset = #{record.investorAsset,jdbcType=VARCHAR},
      org_logo_img = #{record.orgLogoImg,jdbcType=VARCHAR},
      org_name = #{record.orgName,jdbcType=VARCHAR},
      org_license = #{record.orgLicense,jdbcType=VARCHAR},
      org_website = #{record.orgWebsite,jdbcType=VARCHAR},
      org_members = #{record.orgMembers,jdbcType=INTEGER},
      invested_count = #{record.investedCount,jdbcType=INTEGER},
      collect_number = #{record.collectNumber,jdbcType=INTEGER},
      auditor = #{record.auditor,jdbcType=VARCHAR},
      auditor_state = #{record.auditorState,jdbcType=VARCHAR},
      auditor_time = #{record.auditorTime,jdbcType=TIMESTAMP},
      auditor_comment = #{record.auditorComment,jdbcType=VARCHAR},
      reqauth_time = #{record.reqauthTime,jdbcType=TIMESTAMP},
      mail_box = #{record.mailBox,jdbcType=VARCHAR},
      investors_profile = #{record.investorsProfile,jdbcType=VARCHAR},
      investors_company_name = #{record.investorsCompanyName,jdbcType=VARCHAR},
      org_introduce = #{record.orgIntroduce,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_investor
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      investor_form = #{record.investorForm,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      area = #{record.area,jdbcType=VARCHAR},
      real_name = #{record.realName,jdbcType=VARCHAR},
      investor_company = #{record.investorCompany,jdbcType=VARCHAR},
      investor_position = #{record.investorPosition,jdbcType=VARCHAR},
      investor_card = #{record.investorCard,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      weixin = #{record.weixin,jdbcType=VARCHAR},
      visit_img = #{record.visitImg,jdbcType=VARCHAR},
      investor_asset = #{record.investorAsset,jdbcType=VARCHAR},
      org_logo_img = #{record.orgLogoImg,jdbcType=VARCHAR},
      org_name = #{record.orgName,jdbcType=VARCHAR},
      org_license = #{record.orgLicense,jdbcType=VARCHAR},
      org_website = #{record.orgWebsite,jdbcType=VARCHAR},
      org_members = #{record.orgMembers,jdbcType=INTEGER},
      invested_count = #{record.investedCount,jdbcType=INTEGER},
      collect_number = #{record.collectNumber,jdbcType=INTEGER},
      auditor = #{record.auditor,jdbcType=VARCHAR},
      auditor_state = #{record.auditorState,jdbcType=VARCHAR},
      auditor_time = #{record.auditorTime,jdbcType=TIMESTAMP},
      auditor_comment = #{record.auditorComment,jdbcType=VARCHAR},
      reqauth_time = #{record.reqauthTime,jdbcType=TIMESTAMP},
      mail_box = #{record.mailBox,jdbcType=VARCHAR},
      investors_profile = #{record.investorsProfile,jdbcType=VARCHAR},
      investors_company_name = #{record.investorsCompanyName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.thzj.webcrawler.entity.TInvestor">
    update t_investor
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="investorForm != null">
        investor_form = #{investorForm,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="investorCompany != null">
        investor_company = #{investorCompany,jdbcType=VARCHAR},
      </if>
      <if test="investorPosition != null">
        investor_position = #{investorPosition,jdbcType=VARCHAR},
      </if>
      <if test="investorCard != null">
        investor_card = #{investorCard,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null">
        weixin = #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="visitImg != null">
        visit_img = #{visitImg,jdbcType=VARCHAR},
      </if>
      <if test="investorAsset != null">
        investor_asset = #{investorAsset,jdbcType=VARCHAR},
      </if>
      <if test="orgLogoImg != null">
        org_logo_img = #{orgLogoImg,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgLicense != null">
        org_license = #{orgLicense,jdbcType=VARCHAR},
      </if>
      <if test="orgWebsite != null">
        org_website = #{orgWebsite,jdbcType=VARCHAR},
      </if>
      <if test="orgMembers != null">
        org_members = #{orgMembers,jdbcType=INTEGER},
      </if>
      <if test="investedCount != null">
        invested_count = #{investedCount,jdbcType=INTEGER},
      </if>
      <if test="collectNumber != null">
        collect_number = #{collectNumber,jdbcType=INTEGER},
      </if>
      <if test="auditor != null">
        auditor = #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="auditorState != null">
        auditor_state = #{auditorState,jdbcType=VARCHAR},
      </if>
      <if test="auditorTime != null">
        auditor_time = #{auditorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditorComment != null">
        auditor_comment = #{auditorComment,jdbcType=VARCHAR},
      </if>
      <if test="reqauthTime != null">
        reqauth_time = #{reqauthTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mailBox != null">
        mail_box = #{mailBox,jdbcType=VARCHAR},
      </if>
      <if test="investorsProfile != null">
        investors_profile = #{investorsProfile,jdbcType=VARCHAR},
      </if>
      <if test="investorsCompanyName != null">
        investors_company_name = #{investorsCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="orgIntroduce != null">
        org_introduce = #{orgIntroduce,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.thzj.webcrawler.entity.TInvestor">
    update t_investor
    set user_id = #{userId,jdbcType=INTEGER},
      investor_form = #{investorForm,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      investor_company = #{investorCompany,jdbcType=VARCHAR},
      investor_position = #{investorPosition,jdbcType=VARCHAR},
      investor_card = #{investorCard,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      weixin = #{weixin,jdbcType=VARCHAR},
      visit_img = #{visitImg,jdbcType=VARCHAR},
      investor_asset = #{investorAsset,jdbcType=VARCHAR},
      org_logo_img = #{orgLogoImg,jdbcType=VARCHAR},
      org_name = #{orgName,jdbcType=VARCHAR},
      org_license = #{orgLicense,jdbcType=VARCHAR},
      org_website = #{orgWebsite,jdbcType=VARCHAR},
      org_members = #{orgMembers,jdbcType=INTEGER},
      invested_count = #{investedCount,jdbcType=INTEGER},
      collect_number = #{collectNumber,jdbcType=INTEGER},
      auditor = #{auditor,jdbcType=VARCHAR},
      auditor_state = #{auditorState,jdbcType=VARCHAR},
      auditor_time = #{auditorTime,jdbcType=TIMESTAMP},
      auditor_comment = #{auditorComment,jdbcType=VARCHAR},
      reqauth_time = #{reqauthTime,jdbcType=TIMESTAMP},
      mail_box = #{mailBox,jdbcType=VARCHAR},
      investors_profile = #{investorsProfile,jdbcType=VARCHAR},
      investors_company_name = #{investorsCompanyName,jdbcType=VARCHAR},
      org_introduce = #{orgIntroduce,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.thzj.webcrawler.entity.TInvestor">
    update t_investor
    set user_id = #{userId,jdbcType=INTEGER},
      investor_form = #{investorForm,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      investor_company = #{investorCompany,jdbcType=VARCHAR},
      investor_position = #{investorPosition,jdbcType=VARCHAR},
      investor_card = #{investorCard,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      weixin = #{weixin,jdbcType=VARCHAR},
      visit_img = #{visitImg,jdbcType=VARCHAR},
      investor_asset = #{investorAsset,jdbcType=VARCHAR},
      org_logo_img = #{orgLogoImg,jdbcType=VARCHAR},
      org_name = #{orgName,jdbcType=VARCHAR},
      org_license = #{orgLicense,jdbcType=VARCHAR},
      org_website = #{orgWebsite,jdbcType=VARCHAR},
      org_members = #{orgMembers,jdbcType=INTEGER},
      invested_count = #{investedCount,jdbcType=INTEGER},
      collect_number = #{collectNumber,jdbcType=INTEGER},
      auditor = #{auditor,jdbcType=VARCHAR},
      auditor_state = #{auditorState,jdbcType=VARCHAR},
      auditor_time = #{auditorTime,jdbcType=TIMESTAMP},
      auditor_comment = #{auditorComment,jdbcType=VARCHAR},
      reqauth_time = #{reqauthTime,jdbcType=TIMESTAMP},
      mail_box = #{mailBox,jdbcType=VARCHAR},
      investors_profile = #{investorsProfile,jdbcType=VARCHAR},
      investors_company_name = #{investorsCompanyName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>