<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thzj.webcrawler.dao.TProjectMapper">
  <resultMap id="BaseResultMap" type="com.thzj.webcrawler.entity.TProject">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="logo_url" jdbcType="VARCHAR" property="logoUrl" />
    <result column="my_identity" jdbcType="VARCHAR" property="myIdentity" />
    <result column="project_stage" jdbcType="VARCHAR" property="projectStage" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="labelling" jdbcType="VARCHAR" property="labelling" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="financing_rounds" jdbcType="VARCHAR" property="financingRounds" />
    <result column="auditor" jdbcType="VARCHAR" property="auditor" />
    <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="audit_state" jdbcType="VARCHAR" property="auditState" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="collect_number" jdbcType="INTEGER" property="collectNumber" />
    <result column="amount_of_financing" jdbcType="VARCHAR" property="amountOfFinancing" />
    <result column="financing_state" jdbcType="VARCHAR" property="financingState" />
    <result column="business_plan_url" jdbcType="VARCHAR" property="businessPlanUrl" />
    <result column="is_open" jdbcType="VARCHAR" property="isOpen" />
    <result column="company_set_up_time" jdbcType="TIMESTAMP" property="companySetUpTime" />
    <result column="develop_journey" jdbcType="VARCHAR" property="developJourney" />
    <result column="products_url" jdbcType="VARCHAR" property="productsUrl" />
    <result column="website" jdbcType="VARCHAR" property="website" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.thzj.webcrawler.entity.TProjectWithBLOBs">
    <result column="instruction" jdbcType="LONGVARCHAR" property="instruction" />
    <result column="team_lightspot" jdbcType="LONGVARCHAR" property="teamLightspot" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, user_name, project_name, company_name, logo_url, my_identity, project_stage, 
    province, city, industry, labelling, add_time, financing_rounds, auditor, audit_time, 
    audit_state, remark, collect_number, amount_of_financing, financing_state, business_plan_url, 
    is_open, company_set_up_time, develop_journey, products_url, website
  </sql>
  <sql id="Blob_Column_List">
    instruction, team_lightspot
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.thzj.webcrawler.entity.TProjectExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_project
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.thzj.webcrawler.entity.TProjectExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_project
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_project
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_project
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.thzj.webcrawler.entity.TProjectExample">
    delete from t_project
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.thzj.webcrawler.entity.TProjectWithBLOBs">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_project (id, user_id, user_name, 
      project_name, company_name, logo_url, 
      my_identity, project_stage, province, 
      city, industry, labelling, 
      add_time, financing_rounds, auditor, 
      audit_time, audit_state, remark, 
      collect_number, amount_of_financing, financing_state, 
      business_plan_url, is_open, company_set_up_time, 
      develop_journey, products_url, website, 
      instruction, team_lightspot)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, 
      #{projectName,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, #{logoUrl,jdbcType=VARCHAR}, 
      #{myIdentity,jdbcType=VARCHAR}, #{projectStage,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{industry,jdbcType=VARCHAR}, #{labelling,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=TIMESTAMP}, #{financingRounds,jdbcType=VARCHAR}, #{auditor,jdbcType=VARCHAR}, 
      #{auditTime,jdbcType=TIMESTAMP}, #{auditState,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{collectNumber,jdbcType=INTEGER}, #{amountOfFinancing,jdbcType=VARCHAR}, #{financingState,jdbcType=VARCHAR}, 
      #{businessPlanUrl,jdbcType=VARCHAR}, #{isOpen,jdbcType=VARCHAR}, #{companySetUpTime,jdbcType=TIMESTAMP}, 
      #{developJourney,jdbcType=VARCHAR}, #{productsUrl,jdbcType=VARCHAR}, #{website,jdbcType=VARCHAR}, 
      #{instruction,jdbcType=LONGVARCHAR}, #{teamLightspot,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.thzj.webcrawler.entity.TProjectWithBLOBs">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_project
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="projectName != null">
        project_name,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="logoUrl != null">
        logo_url,
      </if>
      <if test="myIdentity != null">
        my_identity,
      </if>
      <if test="projectStage != null">
        project_stage,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="industry != null">
        industry,
      </if>
      <if test="labelling != null">
        labelling,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="financingRounds != null">
        financing_rounds,
      </if>
      <if test="auditor != null">
        auditor,
      </if>
      <if test="auditTime != null">
        audit_time,
      </if>
      <if test="auditState != null">
        audit_state,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="collectNumber != null">
        collect_number,
      </if>
      <if test="amountOfFinancing != null">
        amount_of_financing,
      </if>
      <if test="financingState != null">
        financing_state,
      </if>
      <if test="businessPlanUrl != null">
        business_plan_url,
      </if>
      <if test="isOpen != null">
        is_open,
      </if>
      <if test="companySetUpTime != null">
        company_set_up_time,
      </if>
      <if test="developJourney != null">
        develop_journey,
      </if>
      <if test="productsUrl != null">
        products_url,
      </if>
      <if test="website != null">
        website,
      </if>
      <if test="instruction != null">
        instruction,
      </if>
      <if test="teamLightspot != null">
        team_lightspot,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="logoUrl != null">
        #{logoUrl,jdbcType=VARCHAR},
      </if>
      <if test="myIdentity != null">
        #{myIdentity,jdbcType=VARCHAR},
      </if>
      <if test="projectStage != null">
        #{projectStage,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="labelling != null">
        #{labelling,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="financingRounds != null">
        #{financingRounds,jdbcType=VARCHAR},
      </if>
      <if test="auditor != null">
        #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null">
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditState != null">
        #{auditState,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="collectNumber != null">
        #{collectNumber,jdbcType=INTEGER},
      </if>
      <if test="amountOfFinancing != null">
        #{amountOfFinancing,jdbcType=VARCHAR},
      </if>
      <if test="financingState != null">
        #{financingState,jdbcType=VARCHAR},
      </if>
      <if test="businessPlanUrl != null">
        #{businessPlanUrl,jdbcType=VARCHAR},
      </if>
      <if test="isOpen != null">
        #{isOpen,jdbcType=VARCHAR},
      </if>
      <if test="companySetUpTime != null">
        #{companySetUpTime,jdbcType=TIMESTAMP},
      </if>
      <if test="developJourney != null">
        #{developJourney,jdbcType=VARCHAR},
      </if>
      <if test="productsUrl != null">
        #{productsUrl,jdbcType=VARCHAR},
      </if>
      <if test="website != null">
        #{website,jdbcType=VARCHAR},
      </if>
      <if test="instruction != null">
        #{instruction,jdbcType=LONGVARCHAR},
      </if>
      <if test="teamLightspot != null">
        #{teamLightspot,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.thzj.webcrawler.entity.TProjectExample" resultType="java.lang.Long">
    select count(*) from t_project
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_project
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.userName != null">
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.projectName != null">
        project_name = #{record.projectName,jdbcType=VARCHAR},
      </if>
      <if test="record.companyName != null">
        company_name = #{record.companyName,jdbcType=VARCHAR},
      </if>
      <if test="record.logoUrl != null">
        logo_url = #{record.logoUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.myIdentity != null">
        my_identity = #{record.myIdentity,jdbcType=VARCHAR},
      </if>
      <if test="record.projectStage != null">
        project_stage = #{record.projectStage,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null">
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null">
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.industry != null">
        industry = #{record.industry,jdbcType=VARCHAR},
      </if>
      <if test="record.labelling != null">
        labelling = #{record.labelling,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null">
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.financingRounds != null">
        financing_rounds = #{record.financingRounds,jdbcType=VARCHAR},
      </if>
      <if test="record.auditor != null">
        auditor = #{record.auditor,jdbcType=VARCHAR},
      </if>
      <if test="record.auditTime != null">
        audit_time = #{record.auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.auditState != null">
        audit_state = #{record.auditState,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.collectNumber != null">
        collect_number = #{record.collectNumber,jdbcType=INTEGER},
      </if>
      <if test="record.amountOfFinancing != null">
        amount_of_financing = #{record.amountOfFinancing,jdbcType=VARCHAR},
      </if>
      <if test="record.financingState != null">
        financing_state = #{record.financingState,jdbcType=VARCHAR},
      </if>
      <if test="record.businessPlanUrl != null">
        business_plan_url = #{record.businessPlanUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.isOpen != null">
        is_open = #{record.isOpen,jdbcType=VARCHAR},
      </if>
      <if test="record.companySetUpTime != null">
        company_set_up_time = #{record.companySetUpTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.developJourney != null">
        develop_journey = #{record.developJourney,jdbcType=VARCHAR},
      </if>
      <if test="record.productsUrl != null">
        products_url = #{record.productsUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.website != null">
        website = #{record.website,jdbcType=VARCHAR},
      </if>
      <if test="record.instruction != null">
        instruction = #{record.instruction,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.teamLightspot != null">
        team_lightspot = #{record.teamLightspot,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update t_project
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      user_name = #{record.userName,jdbcType=VARCHAR},
      project_name = #{record.projectName,jdbcType=VARCHAR},
      company_name = #{record.companyName,jdbcType=VARCHAR},
      logo_url = #{record.logoUrl,jdbcType=VARCHAR},
      my_identity = #{record.myIdentity,jdbcType=VARCHAR},
      project_stage = #{record.projectStage,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      industry = #{record.industry,jdbcType=VARCHAR},
      labelling = #{record.labelling,jdbcType=VARCHAR},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      financing_rounds = #{record.financingRounds,jdbcType=VARCHAR},
      auditor = #{record.auditor,jdbcType=VARCHAR},
      audit_time = #{record.auditTime,jdbcType=TIMESTAMP},
      audit_state = #{record.auditState,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      collect_number = #{record.collectNumber,jdbcType=INTEGER},
      amount_of_financing = #{record.amountOfFinancing,jdbcType=VARCHAR},
      financing_state = #{record.financingState,jdbcType=VARCHAR},
      business_plan_url = #{record.businessPlanUrl,jdbcType=VARCHAR},
      is_open = #{record.isOpen,jdbcType=VARCHAR},
      company_set_up_time = #{record.companySetUpTime,jdbcType=TIMESTAMP},
      develop_journey = #{record.developJourney,jdbcType=VARCHAR},
      products_url = #{record.productsUrl,jdbcType=VARCHAR},
      website = #{record.website,jdbcType=VARCHAR},
      instruction = #{record.instruction,jdbcType=LONGVARCHAR},
      team_lightspot = #{record.teamLightspot,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_project
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      user_name = #{record.userName,jdbcType=VARCHAR},
      project_name = #{record.projectName,jdbcType=VARCHAR},
      company_name = #{record.companyName,jdbcType=VARCHAR},
      logo_url = #{record.logoUrl,jdbcType=VARCHAR},
      my_identity = #{record.myIdentity,jdbcType=VARCHAR},
      project_stage = #{record.projectStage,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      industry = #{record.industry,jdbcType=VARCHAR},
      labelling = #{record.labelling,jdbcType=VARCHAR},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      financing_rounds = #{record.financingRounds,jdbcType=VARCHAR},
      auditor = #{record.auditor,jdbcType=VARCHAR},
      audit_time = #{record.auditTime,jdbcType=TIMESTAMP},
      audit_state = #{record.auditState,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      collect_number = #{record.collectNumber,jdbcType=INTEGER},
      amount_of_financing = #{record.amountOfFinancing,jdbcType=VARCHAR},
      financing_state = #{record.financingState,jdbcType=VARCHAR},
      business_plan_url = #{record.businessPlanUrl,jdbcType=VARCHAR},
      is_open = #{record.isOpen,jdbcType=VARCHAR},
      company_set_up_time = #{record.companySetUpTime,jdbcType=TIMESTAMP},
      develop_journey = #{record.developJourney,jdbcType=VARCHAR},
      products_url = #{record.productsUrl,jdbcType=VARCHAR},
      website = #{record.website,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.thzj.webcrawler.entity.TProjectWithBLOBs">
    update t_project
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="logoUrl != null">
        logo_url = #{logoUrl,jdbcType=VARCHAR},
      </if>
      <if test="myIdentity != null">
        my_identity = #{myIdentity,jdbcType=VARCHAR},
      </if>
      <if test="projectStage != null">
        project_stage = #{projectStage,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        industry = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="labelling != null">
        labelling = #{labelling,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="financingRounds != null">
        financing_rounds = #{financingRounds,jdbcType=VARCHAR},
      </if>
      <if test="auditor != null">
        auditor = #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null">
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditState != null">
        audit_state = #{auditState,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="collectNumber != null">
        collect_number = #{collectNumber,jdbcType=INTEGER},
      </if>
      <if test="amountOfFinancing != null">
        amount_of_financing = #{amountOfFinancing,jdbcType=VARCHAR},
      </if>
      <if test="financingState != null">
        financing_state = #{financingState,jdbcType=VARCHAR},
      </if>
      <if test="businessPlanUrl != null">
        business_plan_url = #{businessPlanUrl,jdbcType=VARCHAR},
      </if>
      <if test="isOpen != null">
        is_open = #{isOpen,jdbcType=VARCHAR},
      </if>
      <if test="companySetUpTime != null">
        company_set_up_time = #{companySetUpTime,jdbcType=TIMESTAMP},
      </if>
      <if test="developJourney != null">
        develop_journey = #{developJourney,jdbcType=VARCHAR},
      </if>
      <if test="productsUrl != null">
        products_url = #{productsUrl,jdbcType=VARCHAR},
      </if>
      <if test="website != null">
        website = #{website,jdbcType=VARCHAR},
      </if>
      <if test="instruction != null">
        instruction = #{instruction,jdbcType=LONGVARCHAR},
      </if>
      <if test="teamLightspot != null">
        team_lightspot = #{teamLightspot,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.thzj.webcrawler.entity.TProjectWithBLOBs">
    update t_project
    set user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      logo_url = #{logoUrl,jdbcType=VARCHAR},
      my_identity = #{myIdentity,jdbcType=VARCHAR},
      project_stage = #{projectStage,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=VARCHAR},
      labelling = #{labelling,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      financing_rounds = #{financingRounds,jdbcType=VARCHAR},
      auditor = #{auditor,jdbcType=VARCHAR},
      audit_time = #{auditTime,jdbcType=TIMESTAMP},
      audit_state = #{auditState,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      collect_number = #{collectNumber,jdbcType=INTEGER},
      amount_of_financing = #{amountOfFinancing,jdbcType=VARCHAR},
      financing_state = #{financingState,jdbcType=VARCHAR},
      business_plan_url = #{businessPlanUrl,jdbcType=VARCHAR},
      is_open = #{isOpen,jdbcType=VARCHAR},
      company_set_up_time = #{companySetUpTime,jdbcType=TIMESTAMP},
      develop_journey = #{developJourney,jdbcType=VARCHAR},
      products_url = #{productsUrl,jdbcType=VARCHAR},
      website = #{website,jdbcType=VARCHAR},
      instruction = #{instruction,jdbcType=LONGVARCHAR},
      team_lightspot = #{teamLightspot,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.thzj.webcrawler.entity.TProject">
    update t_project
    set user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      logo_url = #{logoUrl,jdbcType=VARCHAR},
      my_identity = #{myIdentity,jdbcType=VARCHAR},
      project_stage = #{projectStage,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=VARCHAR},
      labelling = #{labelling,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      financing_rounds = #{financingRounds,jdbcType=VARCHAR},
      auditor = #{auditor,jdbcType=VARCHAR},
      audit_time = #{auditTime,jdbcType=TIMESTAMP},
      audit_state = #{auditState,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      collect_number = #{collectNumber,jdbcType=INTEGER},
      amount_of_financing = #{amountOfFinancing,jdbcType=VARCHAR},
      financing_state = #{financingState,jdbcType=VARCHAR},
      business_plan_url = #{businessPlanUrl,jdbcType=VARCHAR},
      is_open = #{isOpen,jdbcType=VARCHAR},
      company_set_up_time = #{companySetUpTime,jdbcType=TIMESTAMP},
      develop_journey = #{developJourney,jdbcType=VARCHAR},
      products_url = #{productsUrl,jdbcType=VARCHAR},
      website = #{website,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>